<html>
<head>
    <title>Demo chat realtime</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/xuly.js"></script>
</head>
<body>
<div class="register">
    <p>Tên <input type="text" name="name" class="txtNameRoom"></p>
    <p><button class="btnRegisterRoom">Tạo Room</button></p>
</div>
<div class="chatForm">
    <div class="left">
        <div class="boxtitle">
            <h3>Danh sách room</h3>
        </div>
        <div class="listRoom">
            <ul>
                <li><a href="#" data-room="Room1">Room1</a></li>
                <li><a href="#" data-room="Room2">Room2</a></li>
                <li><a href="#" data-room="Room3">Room3</a></li>
                <li><a href="#" data-room="Room4">Room4</a></li>
                <li><a href="#" data-room="Room5">Room5</a></li>
            </ul>
        </div>
        <div class="boxtitle">
            <h3>Danh sách user</h3>
        </div>
        <div class="listUser">
            <ul>
                <li><a href="#" data-room="User1">User1</a></li>
                <li><a href="#" data-room="User2">User2</a></li>
                <li><a href="#" data-room="User3">User3</a></li>
                <li><a href="#" data-room="User4">User4</a></li>
                <li><a href="#" data-room="User5">User5</a></li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="user">
            <h4><span class="currentRoom"></span></h4>
        </div>
        <div id="ChatBox"></div>
        <div class="userHasEnter"></div>
        <input type="text" id="txtMessageRoom">
        <input type="button" value="Gửi" class="sendMessageRoom">
    </div>
</div>
</body>
</html>