<html>
<head>
    <title>Demo chat realtime</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/xuly.js"></script>
</head>
<body>
<div class="register">
    <p>Tên <input type="text" name="name" class="txtNameRoom"></p>
    <p><button class="btnRegisterRoom">Tạo Room</button></p>
</div>
<div class="chatForm">
    <div class="left">
        <div class="boxtitle">
            <h3>Danh sách room</h3>
        </div>
        <div class="listRoom">
            <ul></ul>
        </div>
    </div>
    <div class="right">
        <div class="user">
            <h4><span class="currentRoom"></span></h4>
        </div>
        <div id="ChatBox"></div>
        <div class="userHasEnter"></div>
        <input type="text" id="txtMessageRoom">
        <input type="button" value="Gửi" class="sendMessageRoom">
    </div>
</div>
</body>
</html>